.areas {
  background-color: $black;
  
  .flex-cards {
    height: 730px;  
    width: $width;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }

  img {
    height: 54px;
  }

  .areas__cards{
    width: 260px;
    flex-basis: auto;

    h3 {
      margin: 12px 0 10px 0;
      font-family: 'Muli', sans-serif;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 0;
      font-weight: medium;
      color: $green;
    }

    ul{
      li{
        color: $green;
        list-style-type: none;
        font-family: 'Muli', sans-serif;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0;
        font-weight: lighter;
      }
    }
  }
}