.banner {
  height: 555px;
  background-color: $red;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  .banner__info {
    width: $width;
    margin: auto 0;
    padding-top: 10%;
    .banner__title{
      h1{
        @include main_title;
      }
      h2 {
        font-family: 'Muli', sans-serif;
        font-size: 36px;
        line-height: 38px;
        letter-spacing: 0;
        font-weight: 300;
        color: $yellow;
        padding-top: 5px;
        width: 12ch;
      }
    }
  }
  .banner__text{
    width: $width;
    margin: 30px auto;
    p {
      margin-top: 20px;
      font-family: 'Muli', sans-serif;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 0;
      font-weight: lighter;
      color: $light_green;
    }
  }
}