.our_caravan__container {
  background-color: $red;
  
}
.our_caravan {
  box-sizing: border-box;
  width: $width;
  margin: 0 auto;
  padding: 20px;

  .card_main {
    @include caravan_card_main;
  }

  .card_cesar {
    @include caravan_cards;
  }

  .card_debora {
    @include caravan_cards;
  }

  .card_joao {
    @include caravan_cards;
  }

}