@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,500,700|Muli:300,500&display=swap");
nav {
  height: 105px;
  background-color: #FE5F55;
}

nav .nav__logo {
  width: 50%;
  float: left;
  background-color: #FE5F55;
}

nav .nav__logo img {
  height: 200px;
  position: absolute;
}

nav .nav__menu {
  width: 130px;
  position: relative;
  left: 220px;
  top: 55px;
}

nav .nav__menu a {
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: lighter;
  letter-spacing: 0;
  text-decoration: none;
  color: #36383B;
}

nav .nav__menu a:hover {
  color: #FFF;
  text-shadow: 1px 1px 2px rgba(71, 92, 83, 0.2);
}

.banner {
  height: 555px;
  background-color: #FE5F55;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .banner__info {
  width: 330px;
  margin: auto 0;
  padding-top: 10%;
}

.banner .banner__info .banner__title h1 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 48px;
  line-height: 54px;
  font-weight: bolder;
  letter-spacing: -3px;
  color: #36383B;
  width: 10ch;
}

.banner .banner__info .banner__title h2 {
  font-family: 'Muli', sans-serif;
  font-size: 36px;
  line-height: 38px;
  letter-spacing: 0;
  font-weight: 300;
  color: #E5E535;
  padding-top: 5px;
  width: 12ch;
}

.banner .banner__text {
  width: 330px;
  margin: 30px auto;
}

.banner .banner__text p {
  margin-top: 20px;
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0;
  font-weight: lighter;
  color: #D7FDEC;
}

.areas {
  background-color: #36383B;
}

.areas .flex-cards {
  height: 730px;
  width: 330px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.areas img {
  height: 54px;
}

.areas .areas__cards {
  width: 260px;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.areas .areas__cards h3 {
  margin: 12px 0 10px 0;
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0;
  font-weight: medium;
  color: #A9FBD7;
}

.areas .areas__cards ul li {
  color: #A9FBD7;
  list-style-type: none;
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0;
  font-weight: lighter;
}

.icon #cc_icon {
  background-image: url("/img/cc_icon.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 282px;
}

.banner2 {
  background-color: #454545;
}

.banner2 .banner2__grid {
  width: 100vw;
  height: 372px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
}

.banner2 .banner2__grid .banner2__text {
  place-self: center;
  padding: auto 100px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  z-index: 100;
}

.banner2 .banner2__grid .banner2__text h3 {
  color: #E5E535;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: -0.8px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300;
  width: 10ch;
}

.banner2 .banner2__grid .banner2__text p {
  font-family: 'Muli', sans-serif;
  font-weight: lighter;
  color: #A9FBD7;
  letter-spacing: 0;
  font-size: 20px;
  line-height: 25px;
  margin-top: 12px;
  width: 23ch;
}

.banner2 .banner2__grid .banner2__bg-image {
  height: 370px;
  width: 100vw;
  background-image: url("/img/banner2.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: saturate(10%) opacity(10%);
          filter: saturate(10%) opacity(10%);
  margin: 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.our_caravan__container {
  background-color: #FE5F55;
}

.our_caravan {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 330px;
  margin: 0 auto;
  padding: 20px;
}

.our_caravan .card_main h3 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 23px;
  line-height: 30px;
  font-weight: 500;
  color: #E5E535;
  text-align: center;
}

.our_caravan .card_main p {
  font-family: 'Muli', sans-serif;
  font-weight: lighter;
  color: #36383B;
  text-align: center;
  font-size: 20px;
  line-height: 25px;
  margin-top: 5px;
  padding-bottom: 20px;
}

.our_caravan .card_main img {
  display: block;
  margin: 0 auto;
}

.our_caravan .card_cesar {
  margin-bottom: 30px;
}

.our_caravan .card_cesar img {
  border: 2px solid #36383B;
  border-radius: 50%;
  width: 144px;
  height: 144px;
  background-color: #E24F45;
  display: block;
  margin: 0 auto 10px auto;
}

.our_caravan .card_cesar h3 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  color: #FFF;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0;
  text-align: center;
}

.our_caravan .card_cesar p {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: lighter;
  color: #36383B;
  letter-spacing: 0;
  text-align: center;
  margin-top: 5px;
}

.our_caravan .card_cesar .border {
  border: 2px solid #36383B;
  padding: 10px;
  -webkit-box-shadow: 5px 5px #FE5F55, 7px 3px #36383B, 3px 7px #36383B, 8px 8px #36383B;
          box-shadow: 5px 5px #FE5F55, 7px 3px #36383B, 3px 7px #36383B, 8px 8px #36383B;
}

.our_caravan .card_debora {
  margin-bottom: 30px;
}

.our_caravan .card_debora img {
  border: 2px solid #36383B;
  border-radius: 50%;
  width: 144px;
  height: 144px;
  background-color: #E24F45;
  display: block;
  margin: 0 auto 10px auto;
}

.our_caravan .card_debora h3 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  color: #FFF;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0;
  text-align: center;
}

.our_caravan .card_debora p {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: lighter;
  color: #36383B;
  letter-spacing: 0;
  text-align: center;
  margin-top: 5px;
}

.our_caravan .card_debora .border {
  border: 2px solid #36383B;
  padding: 10px;
  -webkit-box-shadow: 5px 5px #FE5F55, 7px 3px #36383B, 3px 7px #36383B, 8px 8px #36383B;
          box-shadow: 5px 5px #FE5F55, 7px 3px #36383B, 3px 7px #36383B, 8px 8px #36383B;
}

.our_caravan .card_joao {
  margin-bottom: 30px;
}

.our_caravan .card_joao img {
  border: 2px solid #36383B;
  border-radius: 50%;
  width: 144px;
  height: 144px;
  background-color: #E24F45;
  display: block;
  margin: 0 auto 10px auto;
}

.our_caravan .card_joao h3 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  color: #FFF;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0;
  text-align: center;
}

.our_caravan .card_joao p {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: lighter;
  color: #36383B;
  letter-spacing: 0;
  text-align: center;
  margin-top: 5px;
}

.our_caravan .card_joao .border {
  border: 2px solid #36383B;
  padding: 10px;
  -webkit-box-shadow: 5px 5px #FE5F55, 7px 3px #36383B, 3px 7px #36383B, 8px 8px #36383B;
          box-shadow: 5px 5px #FE5F55, 7px 3px #36383B, 3px 7px #36383B, 8px 8px #36383B;
}

.form-section {
  background-color: #36383B;
  padding: 48px 0 0 0;
}

.form-section__container {
  margin: 0 auto;
  width: 330px;
}

.form-section__container .form-section__introduction {
  color: #E5E535;
  font-size: 18px;
  letter-spacing: 0;
  font-family: 'Muli', sans-serif;
  font-weight: lighter;
  margin-bottom: 38px;
}

.form-section__container .form-section__group input {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 12px;
  font-weight: lighter;
  letter-spacing: 0;
  color: #D7FDEC;
  background-color: #0074D9;
  width: 100%;
  height: 50px;
  margin-bottom: 22px;
  padding: 0 0 0 10px;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-section__container .form-section__group #submit {
  width: 50%;
  position: relative;
  left: 50%;
}

.form-section__container .form-section__group #message {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 12px;
  font-weight: lighter;
  letter-spacing: 0;
  color: #D7FDEC;
  background-color: #0074D9;
  padding: 10px;
  height: 160px;
  width: 100%;
  margin-bottom: 22px;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.last-infos {
  background-color: #36383B;
  margin: auto;
  padding-top: 52px;
}

.last-infos .last-infos__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 330px;
  height: 615px;
  margin: auto;
}

.last-infos .card5 {
  width: 232px;
  margin-bottom: 70px;
}

.last-infos .card5 h3 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
  color: #E5E535;
  margin-bottom: 26px;
}

.last-infos .card5 p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 12px;
  line-height: 16px;
  font-weight: lighter;
  letter-spacing: 0;
  color: #D7FDEC;
  orphans: 2;
  widows: 2;
}

.last-infos .card5 a {
  text-decoration: none;
  color: inherit;
}

.last-infos .card5 .cities {
  margin-top: 10px;
}

.last-infos .social_media {
  width: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.last-infos .social_media ul {
  text-align: center;
}

.last-infos .social_media ul li {
  display: inline-block;
  margin: 5px 10px;
}

.last-infos .social_media ul li a {
  text-decoration: none;
  color: #E5E535;
  font-size: 14px;
}

footer {
  background-color: #36383B;
  padding-bottom: 12px;
}

footer p {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: lighter;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  margin-top: 0px;
  color: #E5E535;
}

*, html {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 330px;
  margin: 0 auto;
}

.flex-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 330px;
}
/*# sourceMappingURL=main.css.map */